{% extends 'base.html' %}
{% block title %}About Page{% endblock %}
    {% load static %}
    {% block content %}
    {{block.super}}
    <div class="container">
        <div>
            <h3 class="animationActive text-center mt-3">About Future Group</h3>
        <h6 class="text-center mt-3"> "CREATING WINNERS FOR LIFE THE FUTURE WAY" </h6>
        </div>
        <p class="text-center mt-4">
            At Future we believe that learning must be stress-free. And that can only be made possible by creating a holistic environment where learning opportunities are created naturally. The entire system is created such that the young minds do not just assimilate knowledge but are nurtured to probe and find solutions in the most natural manner. <br>
            <br>
            The faculty members at Future are not just teachers. They are mentors who shape personalities. The work is relentless and there are no short cuts. But it is the vast experience and well laid out systems with which the trainers work in a friendly yet effective manner. Future Group of Institutions is a learning organization. We firmly believe that it is not just the students but the teachers themselves who need to continuously upgrade and update their plethora of knowledge. That is the singular reason why we are able to keep pace with the ever changing times and inculcate the most contemporary and advanced knowledge to the students. The result of our efforts can easily be seen in our students who go on to excel in their chosen field of activity and make their own mark in the ever competitive world. <br>
            <br>
            Teamwork is critical for success. That is the reason we encourage our students to work in teams. We also believe that along with academic excellence it is the emotional intelligence, that defines a winner. In order to develop emotional intelligence, students are subjected to various group learning activities. The Future way of learning is the proven way of creating winners for life. <br>
            <br>
            At Future we believe that education needs to be experiential. Our students are not just taught, but also provided extensive exposure in diverse fields through meticulously developed tools of learning. Apart from subject knowledge, the students are prepared for leadership by putting them in situations where they learn to make quick and correct decisions. A lot of effort is put on honing student's thinking and analytical skills that go on to prove highly beneficial in facing real life challenges.
        </p>
    </div>








    {% comment %} <div class="bg-dark mt-3" style="height: 110px; position: relative;">    
        <div class="footer_bottom">
          <div class="container-wrapper copyright-section footer_bottom_elements">
                  <p class="p-3 text-center"><span class="copyright text-light">
    
                         © 2019 Future Group Of Institutions, All rights reserved.
                      </span></p>
                      <p class="text-center text-light"> Develpoed By <a href="">Amar Gupta</a></p>
            </div>
          </div>
      </div> {% endcomment %}
    {% endblock %}