{% extends 'base.html' %}
{% block title %}M.Com{% endblock %}
    {% load static %}
    {% block content %}
    {{block.super}}


    <div class="container-fluid">
        <h3 class="animationActive text-center mt-3">M.COM</h3>
        <h6 class="text-center mt-3"> "MASTER OF COMMERCE" </h6>
        <p class="text-center mt-4">
            Masters of Commerce or MCom is a post graduate level course ideal for candidates who wish to make a career in banking financial services and insurance (BFSI) as well as accounting and commerce sectors. The 2-year course delves deeper into the functioning of the economy, capital, revenue, trade, taxes, etc. taught in BCom.

            Since, MCom is a specialized area in itself, only those candidates who have pursued BCom or BCom (H), can go for it. MCom is also a good option for CA/CS candidates. However, not many CA/CS aspirants pursue MCom as CA/CS courses can be pursued after Class 12.
            
            MCom is most popular among aspiring teachers/lecturers and researchers. UGC-NET/JRF and PhD are among popular options for MCom degree holders.
            
            Admission to MCom in top universities is done through entrance exam. Many universities offer merit based admission to the course.
        </p>
            <div class="border text-light" style="height: 30px; background-color: green;"><p class="ml-5">Master Of Commerce</p>
            </div>

            <div class="row mt-4 ml-5">
              <div class="col-md-6">
                <h6 style="color: green;">
                  Course
                </h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">M.Com</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Duration</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">2 YEARS</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Semesters</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">4</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Course Fees</h6>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">1,20,000/yr</h6>
              </div>
            </div>
    {% endblock content %}