{% extends 'base.html' %}
{% block title %}MBA{% endblock %}
    {% load static %}
    {% block content %}
    {{block.super}}

    <div class="container-fluid">
        <h3 class="animationActive text-center mt-3">MBA</h3>
        <h6 class="text-center mt-3"> "MASTER OF BUSINESS ADMINISTRATION" </h6>
        <p class="text-center mt-4">
            Master of Business Administration or MBA is one of the most popular post-graduate programmes in India and abroad. The two-year programme is a gateway to a plethora of job opportunities in the corporate world. Here are some important facts about the MBA program:
        </p>
            <div class="border text-light" style="height: 30px; background-color: green;"><p class="ml-5">Master Of Business Administration</p>
            </div>

            <div class="row mt-4 ml-5">
              <div class="col-md-6">
                <h6 style="color: green;">
                  Course
                </h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">MBA</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Duration</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">3 YEARS</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Semesters</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">6 <p class="mr-5" style="float: right;">If Lateral: 2 yrs Only</p></h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Course Fees</h6>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">1,20,000/yr</h6>
              </div>
            </div>
    {% endblock content %}