{% extends 'base.html' %}
{% block title %}MCA{% endblock %}
    {% load static %}
    {% block content %}
    {{block.super}}


    <div class="container-fluid">
        <h3 class="animationActive text-center mt-3">MCA</h3>
        <h6 class="text-center mt-3"> "MASTER OF COMPUTER APPLICATIONS" </h6>
        <p class="text-center mt-4">
            MCA isa master degree in Computer applications. It is a 3 year post-graduate course. The minimum criteria to apply for MCA is graduation from any recognized university and the candidate should have completed 10+2 with Mathematics.

The course structure of MCA is divided in 6 semesters. In these 6 semesters, the students have to study at least 35 subjects like C programming, Object oriented programming, Multimedia and business administration, Operation Research, Operating system, Accounting and Finance Management, Software engineering, Microprocessor, Database, Discrete mathematics etc. The course focuses on developing and implementing software at system and application level.
        </p>
            <div class="border text-light" style="height: 30px; background-color: green;"><p class="ml-5">Master Of Computer Applications</p>
            </div>

            <div class="row mt-4 ml-5">
              <div class="col-md-6">
                <h6 style="color: green;">
                  Course
                </h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">MCA</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Duration</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">3 YEARS</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Semesters</h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">6 <p class="mr-5" style="float: right;">If Lateral: 2 yrs Only</p></h6>
                <hr>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">Course Fees</h6>
              </div>
              <div class="col-md-6">
                <h6 style="color: green;">1,80,000/yr</h6>
              </div>
            </div>
    {% endblock content %}